<style>
#rendered {
	background-image: url(/images/<%=@page.bgImage%>);
	background-color: <%=@page.bgColor%>;
	font-family: <%=@page.font%>;
}
</style>

<div id="rendered">
	<h1><div id="name_result"><%=@page.title || "All About ..."%></div></h1>
	
	<div id="image_result">
	<% unless @page.imageUrl.nil? || @page.imageUrl == "" %>
		<img src="<%=@page.imageUrl%>" />
	<% end %>
	</div>

	<div id="about_me_result"><%= @page.aboutMe || "Write a little something about yourself so that the other kids and your Big can learn more about you." %></div>

	<div id="after_school_result"><%= @page.afterSchoolActivities || "<p>Tell people about your favorite thing to do after school." %></div>
	
	<div id="fave_things_result"><%= @page.faveThings || "<h3>My Favorite Things</h3>\n<ul>\n<li>Thing1\n<li>Thing2" %></div>
		
	<div id="what_i_want_to_be_result"><%= @page.whatIWantToBe || "<h3>When I grow up</h3><p>Enter some text about what you would want to be when you grow up. Feel free to include links to pictures or websites about that topic." %></div>
	
</div>
